/*
	Astral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body {
		background-image: url("images/Screenshot_2017-08-02-20-38-42-1.png");
		background-size: cover;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

/* Section/Article */

	section > .last-child, section.last-child, article > .last-child, article.last-child {
		margin-bottom: 0;
	}

/* Nav */

	#nav a span {
		display: none !important;
	}

	#nav a:before {
		font-size: 1.75em;
	}